@use 'hero';
@use 'components/infos-bar';
@use 'components/buttons';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    font-family: 'Roboto',sans-serif;
}
